.notice404 {
    width: max(20%, 240px);
    // height: 40vh;
    margin: 30px auto calc(80vh - 131px) auto;
    padding: 30px 15px;
    background-color: var(--dark-background);

    h1 {
        font-size: 96pt;
        padding: 0;
        margin: 0;
        text-align: center;
        color: var(--dark-text);
    }
    
    h2 {
        font-size: 32pt;
        text-align: center;
        color: var(--dark-text);
    }
    
    a {
        font-size: 18pt;
        text-decoration: none;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-0%);
        display: block;
        width: fit-content;

        padding: 8px 16px;

        background-color: var(--light-background);
        color: var(--light-text);

        transition: 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}