.header {
    background-color: var(--navbar-background);
    font-size: 18pt;
    padding: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;

    .navLinks {
        font-style: normal;
        color: var(--light-subtext);
        margin-left: 18px;
        text-decoration: none;
        transition: 0.3s;   

        &:hover {
            color: var(--subtext);
        }
    }

    #navLanding {
        font-style: bold;
        color: var(--text);
        margin: 0 24px 0 12px;
    }
}

.footer {
    background-color: var(--navbar-background);
    font-size: 14pt;
    padding: 4px 0;
    width: 100%;

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .footer-left {
            grid-column: 1;
        }
    
        .footer-right {
            grid-column: 2;
        }
    }

    // img {
    //     padding: 0 0 0 30px;
    // }
    
    p {
        padding-left: 30px;
    }

    a {
        color: var(--text);
    }
}