.introduction {
    font-size: 30pt;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url("images/central-campus.jpg");
    background-size: cover;

    .container-splash {
        width: max(30vh, 200px);
        height: max(30vh, 200px);
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        overflow: visible;
        background-color: var(--dark-background);

        .splash-text {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            p {
                font-family: "JetBrains Mono", monospace;
                font-weight: 700;
                font-size: 56pt;
                margin: 0;
                text-align: center;
                padding: 0;
                color: var(--dark-text);
            }
        }
    }
}

.index-section {
    width: 100%;
    height: 110vh;
    margin: 0;
    position: relative;

    h1 {
        color: var(--text);
        font-size: 48pt;
        text-align: center;
        margin: 0;
    }
    
    p {
        color: var(--text);
        font-size: 20pt;
        text-align: center;
        // margin: 5vh auto;
    }
    
    a {
        color: var(--text);
        font-size: 20pt;
        text-align: center;
        // margin: 5vh auto;
        display: block;
        transition: 0.3s;

        &:hover {
            color: var(--subtext);
        }
    }
}

.technology {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("images/dimap-bridge.jpg");
    background-size: cover;

    .technology-text{
        width: min(100%, 700px);
        height: 320px;
        background-color: var(--light-background);
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        h1 {
            color: var(--light-text);
            font-size: 48pt;
            text-align: center;
            margin: 26px 0 0 0;
        }
        
        p {
            color: var(--light-text);
            font-size: 20pt;
            text-align: center;
        }
        
        a {
            color: var(--light-text);
            font-size: 20pt;
            text-align: center;
            display: block;
            transition: 0.3s;
    
            &:hover {
                color: var(--light-subtext);
            }
        }
    }

    
}


.community {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("images/bhattacharyya.jpg");

    .community-text{
        width: min(100%, 700px);
        height: 440px;
        background-color: var(--light-background);
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        h1 {
            color: var(--light-text);
            font-size: 48pt;
            text-align: center;
            margin: 26px 0 0 0;
        }
        
        p {
            color: var(--light-text);
            font-size: 20pt;
            text-align: center;
        }

        ul {
            padding: 0;
        }
        
        li {
            color: var(--light-subtext);
            font-size: 16pt;
            text-align: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        a {
            color: var(--light-text);
            font-size: 20pt;
            text-align: center;
            display: block;
            transition: 0.3s;
    
            &:hover {
                color: var(--light-subtext);
            }
        }
    }
}


.progress {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--light-background);

    .progress-text {
        width: min(100%, 700px);
        height: 340px;
        background-color: var(--dark-background);
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        h1 {
            color: var(--dark-text);
            font-size: 48pt;
            text-align: center;
            margin: 20px 0 0 0;
        }
    
        p {
            color: var(--dark-text);
            font-size: 20pt;
            text-align: center;
        }
    
        a {
            color: var(--dark-text);
            font-size: 20pt;
            text-align: center;
            display: block;
            transition: 0.3s;
    
            &:hover {
                color: var(--dark-subtext);
            }
        }
    }
}

@media screen and (max-width: 700px) {

    .technology-text {
        height: auto;

        p {
            font-size: 16pt !important;
        }

        a {
            font-size: 16pt !important;
        }
    }

    .community-text {
        height: auto;

        h1 {
            margin: 13px 0 0 0 !important;
        }

        p {
            font-size: 16pt !important;
        }

        li {
            font-size: 14pt !important;
        }

        a {
            font-size: 16pt !important;
        }
    }

    .progress-text {
        height: auto;

        p {
            font-size: 16pt !important;
        }

        a {
            font-size: 16pt !important;
        }
    }

}