@import "fonts.scss";
@import "base.scss";
@import "index.scss";
@import "404.scss";

:root {
    $light-background: #fafafa;
    $light-text: #000000;
    $light-subtext: #555;
    $light-subtext-highlight: #333;
    $light-navbar-background: #dedede;
    
    $dark-background: #121212;
    $dark-text: #ffffff;
    $dark-subtext: #aaa;
    $dark-subtext-highlight: #ddd;
    $dark-navbar-background: #282828;

    --light-background: #fafafa;
    --light-text: #000000;
    --light-subtext: #555;
    --light-subtext-highlight: #333;
    --light-navbar-background: #dedede;
    
    --dark-background: #121212;
    --dark-text: #ffffff;
    --dark-subtext: #aaa;
    --dark-subtext-highlight: #ddd;
    --dark-navbar-background: #222;

    --nav-background: #{$dark-background};
    
    --background: #{$light-background};
    --text: #{$light-text};
    --subtext: #{$light-subtext};
    --subtext-highlight: #{$light-subtext-highlight};
    --navbar-background: #{$light-navbar-background};
}

@media (prefers-color-scheme: dark) {
    :root {
        $light-background: #fafafa;
        $light-text: #000000;
        $light-subtext: #555;
        $light-subtext-highlight: #333;
        $light-navbar-background: #ccc;
        
        $dark-background: #121212;
        $dark-text: #ffffff;
        $dark-subtext: #aaa;
        $dark-subtext-highlight: #ddd;
        $dark-navbar-background: #282828;
        
        --background: #{$dark-background};
        --text: #{$dark-text};
        --subtext: #{$dark-subtext};
        --subtext-highlight: #{$dark-subtext-highlight};
        --navbar-background: #{$dark-navbar-background};

        --nav-background: var(--navbar-background);
    }
}

html {
    height: 100%;
}

body {
    background-color: var(--background);
    font-family: "Manrope", sans-serif;
    color: var(--text);
    margin: 0;
    text-decoration: none;

    h1 {
        margin: 0;
        padding: 30px 0 10px 0;
    }

    a {
        text-decoration: underline;
        color: var(--text);
    }

    h1, h2, h3 {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-optical-sizing: auto;
    }

    .katex-html {
        font-size: 15pt;
        word-wrap: break-word;
    }

    code {
        span {
            font-size: 12pt;
        }
    }
    .language-sql {
        font-size: 12pt;
        padding: 6px;
    }
}

.reading-page {
    width: max(35%, 30em);
    margin: 0 auto 100px auto;
    font-size: 14pt;
    text-align: justify;
    hyphens: auto;

    a {
        color: var(--text);
        transition: 0.3s;
        &:hover { color: var(--subtext); }
    }
    
    h1 {
        padding: 65px 0 0 0;
        font-size: 32pt;
        text-align: left;
    }
    .page-metadata {
        font-size: 14pt;
        color: var(--subtext);
        margin-bottom: 10px;
    }
    
    p { line-height: 32px; }

    img {
        width: 100%;
        display: block;
        margin: 50px auto;
    }

    .page-metadata {
        font-size: 12pt;
        color: var(--subtext)
    }

    table, td, th {
        border: 2px solid var(--subtext);
        border-collapse: collapse;
    }

}

@media screen and (max-width: 600px) {
    .reading-page {
        width: 80%;
        margin: 0 auto 100px auto;
        font-size: 12pt;
        text-align: justify;
    
        a {
            color: var(--text);
            transition: 0.3s;
            &:hover { color: var(--subtext); }
        }
        
        h1 {
            font-family: "Merriweather", serif;
            padding: 180px 0 0 0;
            font-size: 32pt;
            text-align: left;
        }
        
        p { line-height: 28px; }
    
        img {
            display: block;
            margin: 50px auto;
        }
    
        .page-metadata {
            font-size: 12pt;
            color: var(--subtext)
        }

        .page-listing {
            text-align: left;
        }
    
    }
}

.page-listing {

    li {
        list-style: none;
        padding: 30px 24px;
        margin: 20px 0 20px 0;
        background-color: var(--navbar-background);
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            transform: translate(30px, 0);
        }

        &:active {
            transform: translate(30px, 0) scale(0.96);
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .item-subtext {
        padding: 0;
        margin: 0;
        font-size: 12pt;
        color: var(--subtext);
        text-align: left;
    }
}

ul.page-listing {
    padding: 0 !important;
    margin: 0;
}

#links-title {
    font-family: 'JetBrains Mono', monospace;
    font-size: 32pt;
    text-align: center;
    padding: 215px 0 0 0;

    animation: fadeIn ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.links-subtext {
    animation: fadeIn ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding: 0 20px 36px 20px;
}

.link-item {
    text-align: center;
    transition: 0.2s;
    font-weight: 700;

    animation: fadeInItems ease 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;

    &:hover {
        transform: scale(1.1) !important;
    }
    &:active {
        transform: scale(0.96) !important;
    }
}

.clyde-header {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: right;
    padding: 130px 0 0 0;

    animation: fadeInItems ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;

    img {
        width: 100px;
        height: auto;
        border-radius: 50%;
        grid-column: 1;
    }
    
    h1 {
        grid-column: 2;
        padding: 75px 0 0 20px;
        color: #1d0900;
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@keyframes fadeInItems {
    0% { opacity:0; }
    100% { opacity:1; }
}