{% extends "base.html" %}

{% block content %}

<section class="notice404">
    <div class="container">
        <h1>404</h1>
        <h2>OOPS. CAN'T FIND THAT.</h2>
        <a href="/">Go back to homepage ↗</a>
    </div>
</section>

<!-- <section class="footer" style="bottom: 0;">
    <div class="container">
        <img src="/svg/crane-light.svg" alt="PolyCrane" width="200" height="200">
        <p><b>© FINN MCGOLDRICK</b><br><br>
        known as flynt251 on most platforms.<br><br>
        Powered by <a href="https://getzola.org">Zola ↗</a></p>
    </div> -->
</section>

{% endblock %}