<!DOCTYPE html>
<html lang="en">

<head>
    {% block js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
        {% if config.extra.katex_enable %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">

        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/mathtex-script-type.min.js" integrity="sha384-zWYbd0NBwgTsgIdFKVprSfTh1mbMPe5Hz1X3yY4Sd1h/K1cQoUe36OGwAGz/PcDy" crossorigin="anonymous"></script>
            {% if config.extra.katex_auto_render %}
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"
                onload="renderMathInElement(document.body, {delimiters:[{left: '$$', right:'$$', display: true},{left:'$', right:'$', display: false}]});"></script>
                {% endif %}
                {% endif %}
                {% endblock js %}
                
                {% block css %}
                <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">
                {% if config.extra.katex_enable %}
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
                {% endif %}
                {% endblock css %}
                
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
                <title>Flynt251</title>
                <link rel="icon" href="/images/icon.png">
                <link rel="stylesheet" href="/style.css">
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
            </head>
            
            
            <body>
                <section class="header">
                    <div class="container">
                        <div class="navbox" id="navbox">
                            <button id="navLanding"><img id="navToggle" src="/images/polycrane-white-small.png" alt=""></button>
                            
                            <ul id="navList" class="navList">
                                <li><a href="/" class="navLinks">Home</a></li>
                                <li><a href="{{ get_url(path='@/about.md') }}" class="navLinks">About</a></li>
                                <li><a href="{{ get_url(path='@/blog/_index.md') }}" class="navLinks">Blog</a></li>
                                <li><a href="{{ get_url(path='@/resources/_index.md') }}" class="navLinks">Resources</a></li>
                                <li><a href="{{ get_url(path='@/projects/_index.md') }}" class="navLinks">Projects</a></li>
                            </ul>
                            <script src="/js/navbox.js"></script>
                

                        </div>
                    </div>
    </section>

    <section class="section">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>


    <section class="footer">
        <div class="container footer-container">
            <!-- <img src="/images/crane-spectrum.png" alt="PolyCrane" width="200" height="200"> -->
            <div class="footer-left">
                <p> <a href="/">Home</a> | <a href="{{ get_url(path='@/about.md') }}">About</a> | <a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a> | <a href="{{ get_url(path='@/resources/_index.md') }}">Resources</a> | <a href="{{ get_url(path='@/projects/_index.md') }}">Projects</a> | Made with <a href="https://getzola.org">Zola</a><br></p>
            </div>
            <div class="footer-right" style="text-align: right; padding-right: 30px;"><p><b>© Flynt251 2025</b></p></div>
        </div>
    </section>
</body>



</html>