{% extends "base.html" %}

{% block content %}

<div class="image" id="img-1"></div>
<div class="image" id="img-2"></div>
<div class="image" id="img-3"></div>
<div class="image" id="img-4"></div>
<div class="image" id="img-5"></div>
<div class="image" id="img-6"></div>

<section class="introduction">
    <div class="container-splash">
        <!-- <img src="/images/crane-spectrum.png" alt="PolyCrane"> -->
        <!-- <div id="intro-image-container"></div> -->
        <div class="splash-text">
            <p>twofiveone.xyz</p>
        </div>
    </div>
</section>

<section class="index-section">
    <div class="container technology">
        <div class="image" id="notes-img-1"></div>
        <div class="image" id="notes-img-2"></div>
         <div class="technology-text">
             <h1>A resource full of knowledge</h1>
             <br>
             <a href="{{ get_url(path='/resources') }}">Read the Notes</a>
         </div>
    </div>
</section>
    

<section class="index-section">
    <div class="container community">
        <!-- <img src="/images/keyboard-banner.jpg" alt="Keyboard"> -->
        <div class="image" id="vol-img-1"></div>
        <div class="image" id="vol-img-2"></div>
        <div class="image" id="vol-img-3"></div>
         <div class="community-text">
             <h1>Years of volunteering experience</h1>
             <p>Doing things that bring people together, and change lives</p>
             <ul>
                 <li>Lead Organiser of Warwick Speedrunning</li>
                 <li>Helped raise £5,000 for SpecialEffect in 2026</li>
                 <li>Former Gaming Events Coordinator for UWCS</li>
                 <li>Volunteer Teaching Assistant for GCSE Computer Science</li>
             </ul>
             <a href="{{ get_url(path='@/about.md') }}">Find out more.</a>
         </div>
    </div>
</section>

<section class="index-section">
    <div class="container progress">
        <div class="image" id="digital-img-1"></div>
        <div class="image" id="digital-img-2"></div>
        <!-- <img src="/images/design-screen.jpg" alt="Design Software on a laptop screen"> -->
         <div class="progress-text">
             <h1>Proponent of Digital Autonomy</h1>
             <p>Technology is at its best when it is used thoughtfully. Let's educate the public on how it works, not just how to use it.</p>
         </div>
    </div>
</section>


{% endblock content %}