{% extends "base.html" %}

{% block content %}


<section class="introduction">
    <div class="container-splash">
        <!-- <img src="/images/crane-spectrum.png" alt="PolyCrane"> -->
         <!-- <div id="intro-image-container"></div> -->
        <div class="splash-text">
            <p>251</p>
            <p>XYZ</p>
        </div>
    </div>
</section>

<section class="index-section">
    <div class="container technology">
        <!-- <img src="/images/warwick-wmg-cropped.jpg" alt="Warwick WMG Building (Credit: Yiming Ma on Unsplash)"> -->
         <div class="technology-text">
             <h1>Technology</h1>
             <p>Has lots of it. Will proceed to yap about it.</p>
             <a href="{{ get_url(path='@/blog/_index.md') }}">Read the blog.</a>
         </div>
        <!-- <p class="credit">Image Credit: Yiming Ma on <a href="https://unsplash.com/photos/a-river-running-through-a-lush-green-park-next-to-a-tall-building-gBeOKHAp1S4?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash">Unsplash ↗</a></p> -->
    </div>
</section>

<section class="index-section">
    <div class="container community">
        <!-- <img src="/images/keyboard-banner.jpg" alt="Keyboard"> -->
         <div class="community-text">
             <h1>Community</h1>
             <p>Work that brings people together, for the greater good.</p>
             <ul>
                 <li>Raised over £1,000 for charity in a single weekend</li>
                 <li>Volunteer helper and Logo Designer for WHACK 2024</li>
                 <li>Gaming Events Coordinator for UWCS</li>
                 <li>Lead organiser for Warwick Speedrunning</li>
             </ul>
             <a href="{{ get_url(path='@/about.md') }}">Find out more.</a>
         </div>
    </div>
</section>

<section class="index-section">
    <div class="container progress">
        <!-- <img src="/images/design-screen.jpg" alt="Design Software on a laptop screen"> -->
         <div class="progress-text">
             <h1>Progress</h1>
             <p>Advocate of free and open-source software that challenges the norm and gives control to everyone.</p>
             <a href="{{ get_url(path='@/projects/_index.md') }}">See what I've been working on.</a>
         </div>
    </div>
</section>


{% endblock content %}