{% extends "base.html" %}

{% block content %}

<section class="reading-page">
    <div class="container">
        <h1>PROJECTS.</h1>
        <p>Here is a mix of personal and academic software projects that I've developed over the years. Where possible, I'll have a link to the project's repository at the top of the page, but sometimes this may need to be omitted to ensure academic integrity, or some other issue related to security or privacy.</p>
        
        <p>You can also look at my <a href="https://github.com/flynt-251/">GitHub</a> or <a href="https://gitlab.com/Flynt251">GitLab</a> to see what I'm currently working on.</p>
        <br>

        <ul class="page-listing">
            {% for page in section.pages %}
            <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            <p class="item-subtext">{{ page.description }}</p></li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}