{% extends "base.html" %}

{% block content %}

<script>document.title = "Resources - 251.XYZ"</script>

<section class="reading-page">
    <div class="container">
        <h1>Resources</h1>
        <p>This page is for my fellow Warwick CS students who are also fighting their way through their degree. For first year modules (core plus Computer Security and Functional Programming), reviews and links to other resources are available, as well as my opinions on said modules. For second years, there are full notes available for core modules plus Advanced Computer Architecture and Cyber Security, which I've tried to write in an engaging and humorous style. If it's currently term 3 and you're cramming all the revision you can, then good luck, we're all gonna need it.</p>
    </div>
    <a href="#second-year-modules">Jump to second year modules</a>
    <br>
    
    
    <h2 id="first-year-modules">First Year Modules</h2>
    <p><b>If your course started on/after 2025:</b> For notes for CS143, please refer to the pages for <a href="/resources/cs259">CS259 - Formal Languages</a> and <a href="/resources/cs262">CS262 - Logic and Verification</a> (minus Prolog).</p>
    <ul class="page-listing">
        {% for page in section.pages %}
        <li onclick="location.href='{{ page.permalink | safe }}'">{{ page.title }}</li>
        {% endfor %}
    </ul>

    <!-- Needs reworking, will hard-code for now. -->
    <br>
    <h2 id="second-year-modules">Second Year Modules</h2>
    <p><b>If your course started on/after 2025:</b> For CS267, please refer to the page for <a href="/resources/cs131">CS131</a> (no notes unfortunately). There are no notes for CS275 as this was previously an optional module for my year.</p>
    <ul class="page-listing">
        <li onclick="location.href='/resources/cs241/'">CS241 - Operating Systems and Computer Networks</li>
    </ul>
    <ul class="page-listing">
        <li onclick="location.href='/resources/cs257/'">CS257 - Advanced Computer Architecture</li>
    </ul>
    <ul class="page-listing">
        <li onclick="location.href='/resources/cs258/'">CS258 - Database Systems</li>
    </ul>
    <ul class="page-listing">
        <li onclick="location.href='/resources/cs259/'">CS259 - Formal Languages</li>
    </ul>
    <ul class="page-listing">
        <li onclick="location.href='/resources/cs260/'">CS260 - Algorithms</li>
    </ul>
    <ul class="page-listing">
        <li onclick="location.href='/resources/cs261/'">CS261 - Software Engineering</li>
    </ul>
    <ul class="page-listing">
        <li onclick="location.href='/resources/cs262/'">CS262 - Logic and Verification</li>
    </ul>
    <ul class="page-listing">
        <li onclick="location.href='/resources/cs263/'">CS263 - Cyber Security</li>
    </ul>
</section>

{% endblock %}